/* src/components/ColoredTitle.css */

.colored-title {
  text-align: center; /* Center the title */
}

.gradient-text {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #0b72897c,
    #0b7189
  ); /* Adjust gradient colors as needed */
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  font-size: 5em; /* Adjust size as needed */
  line-height: 100%;
}
