/* src/components/NavBar.css */

.navbar {
  position: sticky; /* Makes the navbar sticky */
  top: 0; /* Sticks to the top */
  z-index: 1000; /* Ensure it is above other content */
  background-color: #ffffff5d;
  /* Slightly white with opacity */
  backdrop-filter: blur(6px);
  padding: 0 20px;
  border-bottom: rgb(206, 210, 216) 1px solid;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  background: linear-gradient(to right, #0b72897c, #0b7189);
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  text-decoration: none;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-link {
  color: #0b7189;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}
